<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1> <%= title %></h1>
  <div id="messages">
    <% messages.forEach((message) => { %>
      <div id="message_card">
        <h4><%= message.user %></h6> 
        <h2><%= message.text %></h5>
        <h6><%= message.added %></h6>
      </div>
    <% }) %>
  </div>
</body>
</html>